{% extends 'base.html' %}

{% block body %} 
<style>
body{
    background-image:url(/static/images/1.png); z-index:1;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;
}
    H1 {
       position: relative;
       right: -790PX;
       top: -400PX;
       color: rgb(241, 82, 82);

    }

p{
position: relative;
right: -800px;
top: -350px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:30px;
color: rgb(14, 20, 27);
}

span{
    position: relative;
right: -800px;
top: -360px;
}


   .ccc {
        position: relative;
        top:80px;
        left:-100px;
      
    }
   

    
    </style>
    <div id=aa class="container">
    <div class="ccc">
        <img src="../static/images/images.png" style = "width: 640px;height:480px">
        <h1>Welcome to MYBUDGET</h1>
        <P>MYBUDGET web application helps<br> you to maintain budget<br>
             and analyse the expense and helps<br> you lead an economical and well-balanced life</P>
        <img height="13%" width="13%" style="position: relative; top: -690PX; left: -60PX;" src="../static/images/istockphoto-943300706-612x612.jpg">
    </div>
</div>

{% endblock %}